.image-compare {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 100px;

  &__diff-bar {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: red;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__side-item {
    position: relative;
    width: 100%;
    border: 1px solid black;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-height: 200px;

    .inputFile-select {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      > img {
        margin-right: 16px;
        width: 59px;
        height: auto;
        user-select: none;
        pointer-events: none;
        @include breakpoint-up(medium) {
        }
      }
      > p {
        font-size: 16px;
        color: rgb(95, 99, 104);
        line-height: 25px;
        max-width: 300px;
        unicode-bidi: isolate;
        line-break: strict;
      }
    }
    .url-select {
    }
  }

  &__upload-file-link {
    color: rgb(25, 103, 210);
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
    }
  }
  .or-operator {
    display: flex;
    justify-content: center;
    align-items: center;
    span:first-child,
    span:last-child {
      border-top: 1px solid rgb(232, 234, 237);
      flex-grow: 1;
      height: 0;
      color: rgb(232, 234, 237);
    }
    span:nth-child(2) {
      font-size: 16px;
      color: rgb(95, 99, 104);
      margin-inline: 20px;
      cursor: default;
      flex-shrink: 0;
    }
  }
  .image-form {
    width: 100%;
    margin-top: 14px;
    display: flex;
    input[type='url'] {
      background-color: #fff;
      border: 1px solid rgb(218, 220, 224);
      color: rgb(60, 64, 67);
      border-radius: 36px;
      display: inline-flex;
      flex-grow: 1;
      font-size: 14px;
      height: 40px;
      padding: 0 24px;
      width: 100%;
      outline: none;
      &:active,
      &:focus {
        border: 1px solid rgb(25, 103, 210);
      }
      &:hover {
        border: 1px solid rgb(60, 64, 67);
      }
    }
    button[type='submit'] {
      align-items: center;
      background: #fff;
      border-radius: 32px;
      border: 1px solid rgb(218, 220, 224);
      color: rgb(26, 115, 232);
      cursor: pointer;
      display: inline-flex;
      flex-shrink: 0;
      font-size: 14px;
      justify-content: center;
      letter-spacing: 0.25px;
      margin-left: 8px;
      outline: 0;
      padding: 8px 24px;
      &:hover {
        background: rgba(25, 103, 210, 0.08);
        color: rgb(26, 115, 232);
        border: 1px solid rgb(218, 220, 224);
      }
      &:active {
        background: rgba(25, 103, 210, 0.14);
        border: 1px solid rgb(218, 220, 224);
        color: rgb(26, 115, 232);
      }
      &:focus {
        background: rgba(25, 103, 210, 0.08);
        border: 1px solid rgb(25, 103, 210);
        color: rgb(26, 115, 232);
      }
    }
  }
}

.image-side-item {
  width: 400px;
  height: 400px;

  font-size: 14px;
  border-radius: 8px;
  color: #bdc1c6;
  border: 1px solid red;
  padding: 10px;

  overflow: hidden;
}

.diff-bar {
  cursor: ew-resize;
}
